.dashboardTable {
  width: 100%;
  :global {
    .ant-table-thead > tr > th {
      background: transparent;
      color: #858585;
      font-size: 12px;
      border: none;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .ant-table-thead > tr > th::before {
      display: none !important;
    }

    .ant-table-tbody > tr > td {
      font-size: 12px;
      font-weight: 500;
      border: none;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.entitiesTable {
  .tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftHeader {
      display: flex;
      align-items: center;
      gap: 14px;
      font-size: 24px;
      font-weight: 600;
      color: #212121;
    }

    .rightHeader {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}

:global {
  .ant-table {
    border-radius: 0px !important;
    padding-left: 6px !important;
  }
  .ant-table-title {
    padding: 8px 16px !important;
    height: 60px;
  }
  .ant-table-thead > tr > th {
    background-color: transparent !important;

    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .ant-table-thead > tr > th::before {
    display: none !important;
  }

  .ant-table-tbody > tr:not(.ant-table-measure-row) > td {
    font-weight: 400;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .ant-pagination {
    background-color: #fff;
    margin: 0px !important;
    padding: 8px 16px !important;
  }
  .ant-checkbox-input:checked + .ant-checkbox-inner {
    background-color: #000000 !important;
    border-color: #000000 !important;
  }
  .ant-checkbox-input:hover + .ant-checkbox-inner {
    border-color: #000000 !important;
  }
  .ant-tag {
    font-size: 12px;
    font-weight: 400;
    padding: 4px 6px !important;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
