.lineChartContainer {
  width: 100%;
  .historyLabel {
    font-size: 14px;
    color: #888888;
    margin-bottom: 8px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}