.appButton {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 45px;
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background-color: #000000;
    cursor: pointer;
    &:hover {
        background-color: #000000 !important;
    }

    .appButtonText {
        display: flex;
        flex-direction: column;
        align-items: start;
        color: #fff;
        

        span:first-child {
            font-size: 10px;
        }

        span:last-child {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.iconButton {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: #757575;
    &:hover {
        background-color: transparent !important;
        border: none !important;
    }
}