.assetsPage {
  min-height: 80vh;
  width: 100%;

  .searchContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    .label {
      color: #757575;
      font-size: 0.75rem;
      font-weight: 400;
    }
    :global {
      .ant-input-affix-wrapper {
        padding: 0px;
      }
    }
  }
}
