.homePage {
    min-height: 100vh;
    width: 100%;
    
    .statusCards {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 8px;
        padding-bottom: 12px;
    }
    
    .container {
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .containerHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            span {
                padding: 4px;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        
            .navButton {
                border: none;
                background: transparent;
                box-shadow: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }           
        }
        
        .containerContent {
            padding: 8px;
            display: flex;
            justify-content: space-between;
            gap: 12px;
        }
    }
    
}