.homePage {
  min-height: 80vh;
  width: 100%;

  .qrSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .appButtons {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .useCaseList {
    width: 100%;
    display: flex;
    gap: 0.675rem;
  }

  .dashboardTableSection {
    width: 100%;
    max-height: 7.75rem;
    overflow-y: auto;
  }

  .accordionSection {
    width: 100%;
    max-height: 24.6rem;
    height: 100%;
    overflow-y: auto;
  }

  :global {
    .ant-select {
      width: 7rem;
      padding-left: 6px;
    }

    .ant-select-content-value {
      font-size: 0.75rem;
      font-weight: 500;
    }
    .ant-qrcode {
      border: none;
      box-shadow: none;
      border-radius: 0px;
      padding: 0px;
    }
  }
}
