.homePage {
    min-height: 100vh;
    width: 100%;
    
    .statusCards {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 8px;
        padding-bottom: 12px;
    }
        .navButton {
            border: none;
            background: transparent;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
                :global {
                    .ant-select {
                        width: 110px;
                        padding-left: 6px;
                    }
        
                    .ant-select-content-value {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
    
    
    
}