.demoCard {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background-color: #fafafa;

  width: 10rem;
  height: 80px;
  border-radius: 4px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .label {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

:global(.ant-tooltip) {
  max-width: unset !important;
}

.statusCard {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background-color: #fff;
  padding: 8px;
  width: 100%;
  .statusCardHeader {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .statusCardData {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    :last-child {
      margin-top: 3px;
    }
  }
}

.quickLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  .linkButton {
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    padding: 6px;
    height: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .addButton {
    font-size: 14px;
    color: #d9d9d9;
    cursor: pointer;
    width: 100%;
    padding: 6px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
}

.statContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  .statItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2px;
    .statLabel {
      font-size: 12px;
      font-weight: 500;
      color: #8c8c8c;
    }
    .statValueContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      .statValue {
        font-size: 12px;
        font-weight: 600;
      }

      .progress {
        width: 40px;
      }
    }
  }
}

.accordion {
  width: 100%;

  .accordionLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    .stepIcon {
      background-color: #305680;
      color: #fff;
      font-weight: 600;
    }
  }

  :global {
    .ant-collapse-item {
      border-bottom: 0px !important;
      background-color: #fff;
    }
    .ant-collapse-item-active {
      background-color: #e5e2e217;
    }
  }

  :global(.ant-collapse-item-active) {
    .accordionLabel {
      font-weight: 700;
    }
  }
}

.copyBox {
  width: 100%;
  display: flex;
  align-items: stretch;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  background-color: #f9fafb;

  .textBlock {
    word-break: break-all;
    padding: 8px 0px 8px 12px;
    margin: 0px;
    display: flex;
    flex: 1;
    font-size: 13px;
    overflow-x: auto;
    white-space: pre-wrap;
  }
  .copyButton {
    border-radius: 0px;
    margin-top: 6px;
    width: 48px;
    &:hover {
      background-color: transparent !important;
    }
  }
}
