.demoCard {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background-color: #fafafa;
    .imageWrapper {
        width: 164px;
        height: 100px;
        overflow: hidden;
        border-radius: 4px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .label {
            position: absolute;
            bottom: 0px;
            background-color: #fff;
            padding: 2px 6px;
            font-size: 12px;
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
}

.statusCard {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #fff;
    padding: 8px;
    width: 140px;
    .statusCardHeader {
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .statusCardData {
        font-size: 16px;
        font-weight: 600;
    }
}