.sidebar {
    background-color: #305680;
    height: 100vh;
    color: #fff;

    .logo {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    .menu {
        background-color: #305680;
        :global {
            .ant-menu-item {
                color: #fff ;
                font-weight: 600;
                font-size: 16px;
                border-radius: 0px;
                border-top: 1px solid #142335;
                margin: 0px;
                width: 100%;
                padding: 22px 0px ;
            }
            .ant-menu-submenu-title {
                color: #fff ;
                font-weight: 600;
                font-size: 16px;
                border-radius: 0px;
                border-top: 1px solid #142335;
                margin: 0px;
                width: 100%;
            }
            .ant-menu-submenu-title:hover {
                color: #fff ;
                background-color: #4f6f93;
            }
            .ant-menu-item-selected {
                background-color: #4f6f93 ;
            }
            .ant-menu-item:hover {
                background-color: #4f6f93 !important;
                color: #fff !important;
            }
            .ant-menu-item-icon {
                font-size: 18px;
            }
        }
    }
}