.devicesPage {
    min-height: 80vh;
    width: 100%;

    .filterButton {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #305680;
        border: 1px solid #305680;
        height: 36px;
        margin-top: 4px;
        &:hover {
            color: #305680 !important;
            border: 1px solid #305680 !important;
        }
    }
}